User
body, html{
    height: 100%;
    margin:0;
    padding:0;
    overflow-x: hidden; /*previene la barra di scorrimento orizzontale*/
}

/*media query responsive*/

@media (max-width: 767px) {
    .content {
        flex-direction: column; /* Disponi gli elementi in colonna invece che in fila */
        align-items: center; /* Centra gli elementi sull'asse trasversale (in questo caso, orizzontalmente) */
    }

    .content img {
        width: 80%; /* Ridimensiona l'immagine per adattarla meglio allo schermo */
        margin-bottom: 20px; /* Aggiunge spazio tra l'immagine e il testo sottostante */
        height: auto;
        border-radius: 50%;
    }
}

/* Stili base qui */

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

body {
    font-family: 'Lato', sans-serif;
    background-color: #FDF0F0;
    color: #132043;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}

@media (max-width: 768px) {
    #home .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #home .content img {
        max-width: 80%; /* Riduci la larghezza dell'immagine se necessario */
        margin-bottom: 20px; /* Aggiungi spazio tra l'immagine e il testo */
    }

    #home .content div {
        width: 100%; /* Utilizza tutta la larghezza disponibile per il contenuto di testo */
    }

    #home .content .button-link {
        width: auto; /* Adatta la larghezza del bottone al testo */
        margin-bottom: 10px; /* Aggiungi spazio tra i bottoni */
    }
}


h1 {
    border: 2px solid #1F4172; /* Spessore e colore del bordo */
    border-radius: 10px; /* Raggio dell'angolo arrotondato */
    background-color: transparent; /* Sfondo trasparente */
    color: #132043; /* Colore del testo */
    padding: 10px; /* Spazio tra il testo e il bordo del riquadro */
    display: inline-block; /* Rende il riquadro adattabile al contenuto */
}


header, footer {
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    left: 0;
    z-index: 1000; /* Assicura che l'header e il footer siano sopra agli altri elementi */
}

header {
    top: 0;
    border-bottom: 2px solid #132043;
    padding: 30px;
}

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    bottom: 0;
    border-top: 2px solid #132043;
    position: relative; /* Cambiato in fixed per mantenerlo sempre visibile in basso */
}


section {
    min-height: 60vh; /* Imposta l'altezza minima di ogni sezione pari all'altezza del viewport */
    padding: 50px; /* Aggiungi del padding per estetica */
    /* Altri stili qui */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #132043;
    padding: 10px;
    position: relative;
}

nav ul li a:hover {
    color: #F1B4BB;
    border-top: 2px solid #F1B4BB;
    border-bottom: 2px solid #F1B4BB;
    font-weight: 700;
}

/*Nav SideBar*/

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #f1b4bb37;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    font-weight: 800;
    color: #132043;
    padding: 10px;
}

.sidebar li{
    width: 100%;
    text-decoration: none;
    color: #132043;
    margin-bottom: 50px;
}

.sidebar a{
    width: 100%;
    text-decoration: none;
    color: #132043;
}

ul {
    list-style-type: none;
  }
  
.menu-button{
    display: none;
}

@media(max-width: 767px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/*fine side bar*/


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    flex-direction: row-reverse; /* Inverte l'ordine: immagine a destra, testo a sinistra */
    margin: 60px 20px 20px; /* Aumenta il margine superiore per non sovrapporsi all'header */
   
}

.content img {
    border-radius: 50%;
    width: 250px; /* Ridimensiona secondo necessità */
    height: 250px;
    border: 4px solid #1F4172;
    margin-left: 50px;
    object-fit: cover;
}

.content div, .about-text {
    text-align: left;
    text-align: justify;
}

.button, button, .button-link{
    padding: 1em 2em;
    margin-bottom: 10px;
    font-size: 1rem;
    display: inline-block;
}

@media (max-width: 767px) {
    .button, .button-link {
        padding: 10px 20px; /* Riduci lo spazio interno per rendere i bottoni più piccoli */
        font-size: 1rem; /* Riduci la dimensione del testo */
        display: block; /* I bottoni saranno disposti uno sotto l'altro */
        width: 100%; /* I bottoni occupano l'intera larghezza del contenitore */
        margin-bottom: 15px; /* Aumenta lo spazio tra i bottoni */
        text-align: center;
    }
}

.button, button {
    background-color: #F1B4BB;
    color: #1F4172;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px; /* bordi arrotondati*/
}

.button:hover, button:hover, .button-link:hover {
    background-color: #1F4172;
    color: #F1B4BB;
    font-weight: 700;
    border-radius: 20px; /* assicurarsi che hover mantenga bordi arrotondati*/
}


.button-link {
    background-color: #F1B4BB;
    color: #1F4172;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px; /* bordi arrotondati*/
}

.button-link:hover, button:hover{
    background-color: #1F4172;
    color: #F1B4BB;
    font-weight: 700;
    border-radius: 20px; /* assicurarsi che hover mantenga bordi arrotondati*/
}


.wave-container{
    width: 100vw;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.wave-container svg{
    display:block;
    width: 100vw;
    height: auto;
}

.wave-container1 {
    width: 100vw;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: -70px;
}
.wave-container1 svg{
    display:block;
    width: 100vw;
    height: auto;
    margin-top: 20px;
}

.wave-container2 {
    width: 100vw;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom:-200px;
}
.wave-container2 svg{
    display:block;
    width: 100vw;
    height: auto;
    margin-top: 60px;
}

.about{
    margin-bottom: -150px;
}


.about-main{
    text-align: justify;
    line-height: 1.6;
}

@media (max-width: 767px) {
    .about-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-main, .hard-skills, .soft-skills {
        width: 100%;
        /* Elimina eventuali margini laterali o impostazioni che potrebbero influenzare l'allineamento */
        margin: 0 auto;
        padding: 10px;
    }

    .about-main p, .hard-skills p, .soft-skills li {
        /* Migliora la leggibilità del testo su dispositivi più piccoli */
        font-size: 16px; /* Adegua la dimensione del font secondo necessità */
        line-height: 1.5; /* Aumenta l'interlinea per una migliore leggibilità */
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none; /* Rimuove i pallini dall'elenco */
    }

    .skills-list li {
        margin-bottom: 10px; /* Aumenta lo spazio tra gli elementi dell'elenco */
        align-items: center;
    }
}


#portfolio {
    text-align: center; /* Centra il testo della sezione */
    margin: auto;
    padding: 20px;
}

@media (max-width: 767px) {
    #portfolio {
        margin-top: 80px; /* Aggiunge spazio in più sopra la sezione portfolio */
    }
}

.social-icons {
    display: flex;
    justify-content: center; /* Centra le icone orizzontalmente */
    gap: 20px; /* Distanza tra le icone */
    margin-top: 20px; /* Spazio tra il testo e le icone */
}

.social-icons a img {
    width: 50px; /* Imposta la larghezza delle icone */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.social-icons a img[alt="start2impact"] {
    width: 200px; /* Aumenta la larghezza */
    height: auto; /* Assicura che l'altezza si adatti proporzionalmente */
}


.portfolio{
    margin-top: -50px;
}

.portfolio-item p a {
    text-decoration: none; /* Rimuove il sottolineamento */
    color: inherit; /* Opzionale: fa sì che il link utilizzi il colore del testo circostante */
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border: 2.5px solid #F1B4BB;
    border-radius: 15px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    margin-top:10px;
    transition: transform 0.5s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item:hover .project-description {
    opacity: 1;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.footer-links {
    display: flex;
    justify-content: center;
    padding:10px;
    list-style-type: none;
}

.footer-links li{
    margin: 0 10px;
}

.footer-links a {
    color: #132043;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    color: #F1B4BB;
}

/*Stili per griglia ABOUT*/

.about-section{
    display: flex;
    gap:20px;
    align-items: flex-start;
}

.skills-container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.about-content, .skills-content{
    flex:1;
}

.hard-skills h3, .soft-skills h3{
    text-align: left;
    margin-left: 35px;
}

.skill-list{
    padding-left: 20px;
}

.hard-skills, .soft-skills{
   display: flex;
   flex-direction: column;
}

.skills-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Aggiunta per il layout delle pagine specifiche */

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 60px; /* Per non sovrapporsi all'header */
    background-color: rgba(241, 180, 187, 0.311); /* Rosa trasparente */
    backdrop-filter: blur(10px); /* Effetto sfocatura per il vetro */
    -webkit-backdrop-filter: blur(10px); /* Per il supporto su Safari */
    border: 1px solid rgba(255, 255, 255, 0.203); /* Opzionale: bordo per migliorare l'effetto vetro */
}

.portfolio-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.portfolio-item p {
    font-family: 'Merriweather', serif; /* Imposta Merriweather come font */
    font-size: 16px; /*dimensione predefinita del testo*/
    margin: 10px 0; /*margine sopra e sotto per separare il testo dalle immagini*/
}
@media (max-width: 767px) {
    .portfolio-item p {
        font-size: 12px; /* Riduce la dimensione del testo sui dispositivi più piccoli */
        margin: 8px 0; /* Riduce il margine sopra e sotto per evitare la compattazione */
    }
}


/* Stili specifici per la pagina Contact */

/* Assicurati che il form e tutti i suoi campi siano disposti in colonna */
form.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea gli elementi a sinistra */
}

/* Stile per i campi input e textarea per garantire che occupino l'intera larghezza disponibile */
form.content input,
form.content textarea {
    width: 100%; /* Imposta la larghezza al 100% del contenitore del form */
    margin-bottom: 10px; /* Aggiunge un po' di margine sotto ogni campo per spaziarli */
}

/* Assicurati che il bottone non sia allargato come gli input/textarea */
form.content button {
    width: auto; /* O un valore specifico se preferisci */
    margin-top: 20px; /* Aggiunge spazio sopra il bottone */
}


.content-div, .info{
    text-align: center;
    margin-top: 120px;
    margin-bottom: -90px;

}
.contact-form .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Regola questa larghezza secondo necessità */
    margin-bottom: 20px;
    margin: 0 auto; /* Centra il form */
}

.contact-form label{
    margin-bottom: 5px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 80px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #132043;
    background-color: #FDF0F0;
    color: #132043;
    font-size: 20px;
}

.contact-form button {
    width: auto;
    padding: 10px 20px;
}

.contact-form button:hover {
    font-weight: 700;
}

@media (max-width: 767px) {
    #contact {
        margin-top: 40px; /* Aggiunge spazio in più sopra la sezione contact */
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: #F1B4BB; /* Colore di sfondo */
    color: #FFFFFF; /* Colore della freccia */
    padding: 15px; /* Spazio intorno alla freccia */
    border-radius: 40%; /* Rende il bottone circolare */
    text-decoration: none; /* Rimuove il sottolineato dal link */
    font-size: 32px; /* Dimensione della freccia */
    display: none; /* Nasconde il bottone di default */
    z-index: 1500;
}