User

body, html{
    box-sizing: border-box;  /* Assicura che padding e border siano inclusi nel calcolo delle dimensioni degli elementi */
    margin:0;
    padding:0;
    overflow-x: hidden; /*previene la barra di scorrimento orizzontale*/
}

/* Stili base qui */

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

/*media query per profile-image*/

@media (max-width: 480px) {
    .content {
        display: flex;
        justify-content: center; /* Centra l'immagine orizzontalmente */
        align-items: center; /* Centra l'immagine verticalmente se necessario */
    }

    .profile-image {
        margin: 0 auto; /* Un altro metodo per centrare l'immagine se il flex non è appropriato per la tua struttura */
        display: block;
    }
}
/*fine profile-image query*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #FDF0F0;
    color: #132043;
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    overflow-x: hidden;
}

h1 {
    border: 2px solid #1F4172; /* Spessore e colore del bordo */
    border-radius: 10px; /* Raggio dell'angolo arrotondato */
    background-color: transparent; /* Sfondo trasparente */
    color: #132043; /* Colore del testo */
    padding: 10px; /* Spazio tra il testo e il bordo del riquadro */
    display: inline-block; /* Rende il riquadro adattabile al contenuto */
}

@media (max-width: 480px) {
    #home .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #home .content img {
        max-width: 100%; /* Riduci la larghezza dell'immagine se necessario */
        margin-bottom: 20px; /* Aggiungi spazio tra l'immagine e il testo */
        border-radius: 50%;

    }

    #home .content div {
        width: 100%; /* Utilizza tutta la larghezza disponibile per il contenuto di testo */
    }

    #home .content .button-link {
        width: auto; /* Adatta la larghezza del bottone al testo */
        margin-bottom: 10px; /* Aggiungi spazio tra i bottoni */
    }
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    left: 0;
    z-index: 1000; /* Assicura che l'header e il footer siano sopra agli altri elementi */
}


header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 30px;
    max-width: 100%;
    text-align: center;
}

.logo-container a img{
    height: 80px;
    width: auto;
}

@media (max-width: 480px) {
    .logo-container{
        width: 100%; /* Permette ai contenitori di espandersi sull'intera larghezza */
        justify-content: center;
        display: flex;
    }
}


.header-line {
    position: relative; /* o `absolute` a seconda delle necessità */
    top: 10px; /* Adatta questo valore in base all'altezza del tuo header */
    left: 0;
    right: 0;
    border-top: 3px solid #132043; /* Stile della linea */
    z-index: 10; /* Assicurati che sia sopra al contenuto della pagina */
}

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    bottom: 0;
    max-width: 100%;
    position: relative; /* Cambiato in fixed per mantenerlo sempre visibile in basso */
}

.footer-line {
    position: relative; /* o `absolute` a seconda delle necessità */
    bottom: 0; /* Adatta questo valore in base all'altezza del tuo header */
    left: 0;
    right: 0;
    border-top: 3px solid #132043; /* Stile della linea */
    z-index: 10; /* Assicurati che sia sopra al contenuto della pagina */
    margin-top: 60px;
}

@media (max-width: 768px) {
    .footer-line , .header-line {
        border-top: 2px solid #132043; /* Più sottile su dispositivi mobili */
    }
}


body, html {
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

section {
    min-height: 80vh; /* Imposta l'altezza minima di ogni sezione pari all'altezza del viewport */
    padding: 50px; /* Aggiungi del padding per estetica */
    /* Altri stili qui */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #132043;
    padding: 10px;
    position: relative;
}

nav ul li a:hover {
    color: #F1B4BB;
    border-top: 2px solid #F1B4BB;
    border-bottom: 2px solid #F1B4BB;
    font-weight: 700;
}

.button-link:first-of-type {
    margin-right: 40px; /* Aggiunge margine a destra del primo bottone */
}


/*Nav SideBar*/

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: #f1b4bb;
    backdrop-filter: blur(10px) ;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    font-weight: 800;
    color: #132043;
    padding: 30px;
    text-align: center;
}

.sidebar li{
    width: 100%;
    text-decoration: none;
    color: #132043;
    margin-bottom: 100px;
}


.sidebar a{
    width: 100%;
    text-decoration: none;
    color: #132043;
}

ul {
    list-style-type: none;
  }
  
.menu-button{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1500;
}

@media(max-width: 480px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
        padding-top: 20px;
    }

    .sidebar li {
        top:0; /* posiziona bottone inizio sidebar*/
        right:0; /* allinea bottone lato destro sidebar*/
        margin-right: 10px; /*aggiunge margine destro*/
        margin-top: 10px; /* aggiunge marg superiore*/
        margin-bottom: 30px;
    }

    .portfolio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .portfolio-item img {
        width: 100%;
        height: auto;
    }

    .portfolio-item p{
        font-size: 14px;
    }

    header, section, footer{
        padding: 10px;
        text-align: center;
    }

    .content, .about-main, .skills-container, .info, form.content {
        width: 100%; /* Usa tutta la larghezza disponibile */
        box-sizing: border-box; /* Include padding e border nel calcolo della larghezza */
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* Imposta 2 colonne */
    }
}

.sidebar a {
    display: block; /* Rende ogni link un blocco, facilitando la gestione dello spazio */
    padding: 5px 0; /* Aggiunge padding sopra e sotto per aumentare l'area cliccabile */
}

/*fine side bar*/


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    flex-direction: row-reverse; /* Inverte l'ordine: immagine a destra, testo a sinistra */
    margin: 60px 20px 20px; /* Aumenta il margine superiore per non sovrapporsi all'header */
   
}

.content img {
    border-radius: 50%;
    width: 250px; /* Ridimensiona secondo necessità */
    height: 250px;
    border: 4px solid #1F4172;
    margin-left: 25px;
    object-fit: cover;
}

.content div, .about-text {
    text-align: justify;
}

.button, button, .button-link{
    padding: 1em 2em;
    margin-bottom: 10px;
    font-size: 1rem;
    display: inline-block;
    margin-left: -20px;
    flex: 1;
}

@media (max-width: 480px) {
    .button, .button-link {
        padding: 10px 20px; /* Riduci lo spazio interno per rendere i bottoni più piccoli */
        font-size: 1rem; /* Riduci la dimensione del testo */
        display: block; /* I bottoni saranno disposti uno sotto l'altro */
        width: auto; /* I bottoni occupano l'intera larghezza del contenitore */
        margin-bottom: 15px; /* Aumenta lo spazio tra i bottoni */
        text-align: center;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .buttons-container {
        display: flex;
        flex-direction: column;
        margin-left: -40px;
    }

    .button-link {
        width: calc(100% - 80px); /* Occupa tutta la larghezza del contenitore, ajusta il calcolo se necessario */
        margin: 5px 30px; /* Aggiunge margine ai lati per non attaccare ai bordi dello schermo */
    }
}

.button, button {
    background-color: #F1B4BB;
    color: #1F4172;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px; /* bordi arrotondati*/
}

.button:hover, button:hover, .button-link:hover {
    background-color: #1F4172;
    color: #F1B4BB;
    font-weight: 700;
    border-radius: 20px; /* assicurarsi che hover mantenga bordi arrotondati*/
}

.button-link {
    background-color: #F1B4BB;
    color: #1F4172;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 20px; /* bordi arrotondati*/
}

.button-link:hover, button:hover{
    background-color: #1F4172;
    color: #F1B4BB;
    font-weight: 700;
    border-radius: 20px; /* assicurarsi che hover mantenga bordi arrotondati*/
}


.about{
    margin-bottom: 150px;
    margin-top: 100px;
}

.about-main{
    text-align: justify;
    line-height: 1.6;
}

/*responsive sezione about*/

@media (max-width: 480px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-main, .skills-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px; /* Aggiungi un po' di padding laterale per non far attaccare il testo ai bordi dello schermo */
    }

    .hard-skills, .soft-skills{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hard-skills{
        margin-left:-20px;
    }

    .hard-skills .skill-list{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    .hard-skills .skill-list li{
        margin: 10px;
        display: flex;
    }

    .soft-skills {
        margin-top: 20px;
        margin-left: -20px;
    }

    .soft-skills .skills-list {
        list-style: none;
        padding: 0;
    }

    .soft-skills .skills-list li {
        margin-bottom: 10px; /* Aumenta lo spazio tra gli elementi dell'elenco delle soft skills */
    }
}

#about {
    background-color: #f1b4bb37; /* Sostituisci con il colore desiderato */
    border-radius: 20px; /* Angoli arrotondati. Aumenta o diminuisci questo valore per ottenere l'arrotondamento desiderato */
    padding: 20px; /* Aggiungi del padding intorno al contenuto per non avere il testo troppo vicino ai bordi */
    margin: 20px 0; /* Aggiungi un po' di margine sopra e sotto la sezione per separarla dal contenuto adiacente */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opzionale: aggiunge un leggero ombreggiamento per elevare la sezione dal resto della pagina */
}


#contact {
    background-color: #1f42725c; /* Sostituisci con il colore desiderato */
    border-radius: 20px; /* Angoli arrotondati. Aumenta o diminuisci questo valore per ottenere l'arrotondamento desiderato */
    padding: 20px; /* Aggiungi del padding intorno al contenuto per non avere il testo troppo vicino ai bordi */
    margin: 5px 0; /* Aggiungi un po' di margine sopra e sotto la sezione per separarla dal contenuto adiacente */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opzionale: aggiunge un leggero ombreggiamento per elevare la sezione dal resto della pagina */
    margin-top: 80px;
}

@media (max-width: 480px) {
    #contact {
        margin: 10px; /* Riduci i margini */
        padding: 15px; /* Riduci il padding */
    }
}

#portfolio {
    text-align: center; /* Centra il testo della sezione */
    margin: auto;
    padding: 20px;
    margin-top: 100px;
}


.social-icons {
    display: flex;
    justify-content: center; /* Centra le icone orizzontalmente */
    gap: 20px; /* Distanza tra le icone */
    margin-top: 20px; /* Spazio tra il testo e le icone */
}

.social-icons a img {
    width: 50px; /* Imposta la larghezza delle icone */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

.social-icons a img[alt="start2impact"] {
    width: 200px; /* Aumenta la larghezza */
    height: auto; /* Assicura che l'altezza si adatti proporzionalmente */
}


.portfolio{
    margin-top: -100px;
}

.portfolio-item p a {
    text-decoration: none; /* Rimuove il sottolineamento */
    color: inherit; /* Opzionale: fa sì che il link utilizzi il colore del testo circostante */
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border: 2.5px solid #F1B4BB;
    border-radius: 15px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    margin-top:10px;
    transition: transform 0.5s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item:hover .project-description {
    opacity: 1;
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.footer-links {
    display: flex;
    justify-content: center;
    padding:10px;
    list-style-type: none;
}

.footer-links li{
    margin: 0 10px;
}

.footer-links a {
    color: #132043;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    color: #F1B4BB;
}

/*Stili per griglia ABOUT*/

.about-section{
    display: flex;
    gap:20px;
    align-items: flex-start;
}

.skills-container{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.about-content, .skills-content{
    flex:1;
}

.hard-skills h3, .soft-skills h3{
    text-align: left;
    margin-left: 35px;
}

.skill-list{
    padding-left: 20px;
}

.hard-skills, .soft-skills{
   display: flex;
   flex-direction: column;
}

.skills-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Aggiunta per il layout delle pagine specifiche */

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 20px;;
    gap: 20px;
    padding: 20px;
    margin-top: 100px; /* Per non sovrapporsi all'header */
    background-color: rgba(241, 180, 187, 0.311); /* Rosa trasparente */
    backdrop-filter: blur(10px); /* Effetto sfocatura per il vetro */
    -webkit-backdrop-filter: blur(10px); /* Per il supporto su Safari */
    border: 1px solid rgba(255, 255, 255, 0.203); /* Opzionale: bordo per migliorare l'effetto vetro */
}

.portfolio-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.portfolio-item p {
    font-family: 'Merriweather', serif; /* Imposta Merriweather come font */
    font-size: 16px; /*dimensione predefinita del testo*/
    margin: 10px 0; /*margine sopra e sotto per separare il testo dalle immagini*/
}
@media (max-width: 480px) {
    .portfolio-item p {
        font-size: 12px; /* Riduce la dimensione del testo sui dispositivi più piccoli */
        margin: 8px 0; /* Riduce il margine sopra e sotto per evitare la compattazione */
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonne per dispositivi più piccoli */
    }
}

/* Assicurati che gli elementi del portfolio siano responsive e non si accavallino */
.portfolio-item {
    margin-bottom: 20px; /* Aggiunge spazio sotto ogni elemento */
}

.portfolio-item img {
    max-width: 100%; /* Assicura che le immagini non superino la larghezza del contenitore */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

/* Aggiusta la dimensione del testo nei progetti per dispositivi più piccoli, se necessario */
@media (max-width: 480px) {
    .portfolio-item p {
        font-size: smaller; /* Riduci la dimensione del testo sui dispositivi più piccoli per evitare accavallamenti */
    }
}


/* Stili specifici per la pagina Contact */

/* Assicurati che il form e tutti i suoi campi siano disposti in colonna */
form.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea gli elementi a sinistra */
}

/* Stile per i campi input e textarea per garantire che occupino l'intera larghezza disponibile */
form.content input,
form.content textarea {
    width: 100%; /* Imposta la larghezza al 100% del contenitore del form */
    margin-bottom: 10px; /* Aggiunge un po' di margine sotto ogni campo per spaziarli */
}

/* Assicurati che il bottone non sia allargato come gli input/textarea */
form.content button {
    width: auto; /* O un valore specifico se preferisci */
    margin-top: 20px; /* Aggiunge spazio sopra il bottone */
}


.content-div, .info{
    text-align: center;
    margin-top: 120px;
    margin-bottom: -90px;

}
.contact-form .form-field{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Regola questa larghezza secondo necessità */
    margin-bottom: 20px;
    margin: 0 auto; /* Centra il form */
}

.contact-form label{
    margin-bottom: 5px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 80px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #132043;
    background-color: #FDF0F0;
    color: #132043;
    font-size: 20px;
}

.contact-form button {
    width: auto;
    padding: 10px 20px;
}

.contact-form button:hover {
    font-weight: 700;
}

@media (max-width: 480px) {
    .form-field {
        width: 100%; /* Usa la larghezza intera su dispositivi mobili */
        padding: 0 30px; /* Aggiunge un po' di spazio ai lati */
    }
}

@media (max-width: 480px) {
    #contact {
        background-color: transparent; /* Rendi lo sfondo trasparente */
        box-shadow: none; /* Rimuovi l'ombra per mantenere coerenza visiva */
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
  }
  
  .fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: #F1B4BB; /* Colore di sfondo */
    color: #FFFFFF; /* Colore della freccia */
    padding: 15px; /* Spazio intorno alla freccia */
    border-radius: 40%; /* Rende il bottone circolare */
    text-decoration: none; /* Rimuove il sottolineato dal link */
    font-size: 32px; /* Dimensione della freccia */
    display: none; /* Nasconde il bottone di default */
    z-index: 1500;
}